font-family: 'Playfair Display', serif;
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply  text-primary font-secondary bg-white;
    font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif;
  }
  .h1 {
    @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }
  .section {
    @apply h-screen w-screen;
  }
  .btn {
    @apply py-[5px] px-[15px] h-[40px] flex items-center justify-center uppercase font-bold bg-primary text-white;
  }
}
